body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; // optimal font
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  @include user-select(none);
}

h1 {
  font-size: 22px;
  font-weight: bold;
  color: #FFFF00;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  color: #FFFF00;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  color: #FFFF00;
}

.notifyjs-wrapper {
  z-index: 2001;
}

.notifyjs-game-base {
  position: relative;
  min-height: 10px;
  padding: 5px;
  color: #444;
  @include border-radius(5px);

  h2 {
    font-size: 15px;
    margin-bottom: 5px;

    &.success {
      color: #7eff00;
    }

    &.failure {
      color: #ff3333;
    }
  }

  h3 {
    font-size: 13px;
  }

  .rewards, .spendings {
    margin: 5px 0 0 0;
  }
}

.notifyjs-game-info, .notifyjs-game-small_info {
  span.value {
    color: $game_color_yellow;
    font-weight: bold;
  }
}

.tips {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ca9943;
  background: rgba(82, 67, 12, 0.5);
  @include border-radius(5px);

  strong {
    font-weight: bold;
  }
}