$menu: quests, monsters, shop, inventory, profile, rating, alliance;

%header_progress_bar {
  top: 7px;
  width: 150px;
  height: 13px;
  border: 1px solid #fff;
  @include border-radius(10px);
  @include box-shadow(2px 2px 5px 0px rgba(255, 255, 255, 0.5));

  &:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -4px;
    left: -10px;
  }

  .value {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 140px;
    height: 12px;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    text-shadow: 1px 1px 2px #000;
  }

  .progress_bar {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 148px;
    height: 11px;

    .percentage {
      height: 11px;
      @include border-radius(10px);
    }
  }

  .timer {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 10px;
  }
  
  .add {
    position: absolute;
    right: -23px;
    top: -3px;
    cursor: pointer;

    @include images-sprite(ui/add);
  }
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 748px;
  height: 105px;
  border-bottom: 2px solid #ece7d3;

  .experience, .basic_money, .vip_money, .health, .energy, .level {
    position: absolute;
  }

  .experience {
    @extend %header_progress_bar;

    left: 8px;
    border: 1px solid #7eff00;
    @include box-shadow(0px 0px 4px 1px rgba(126, 255, 0, 0.5));

    &:after {
      @include images-sprite-background(icons/experience);
    }

    .value {
      cursor: pointer;
    }

    .progress_bar {
      .percentage {
        @include linear-gradient(to top, #304405, #a0cd21);
      }
    }
    
    .upgrade {
      position: absolute;
      right: -23px;
      top: -3px;
      cursor: pointer;

      @include images-sprite(ui/upgrade);

      &.disabled {
        opacity: 0.3;
      }
    }
  }


  .health {
    @extend %header_progress_bar;

    left: 196px;
    border: 1px solid #ff0000;
    @include box-shadow(0px 0px 4px 1px rgba(255, 0, 0, 0.5));

    &:after {
      top: -2px;
      left: -8px;
      @include images-sprite(icons/health_red);
    }

    .progress_bar {
      .percentage {
        @include linear-gradient(to top, #530000, #f95a5a);
      }
    }
  }

  .energy {
    @extend %header_progress_bar;

    left: 383px;
    border: 1px solid #ffff00;
    @include box-shadow(1px 1px 4px 0px rgba(255, 255, 0, 0.5));

    &:after {
      @include images-sprite-background(icons/energy_yellow);
    }

    .progress_bar {
      .percentage {
        @include linear-gradient(to top, #b87a00, #f9ff57);
      }
    }
  }

  .level {
    top: 35px;
    left: 30px;
    width: 50px;
    height: 25px;
    border: 1px solid #ffd57b;
    @include border-radius(15px);
    
    &:after {
      position: absolute;
      top: 0px;
      left: -25px;
      content: "";
      @include images-sprite(icons/level);
    }

    .value {
      font-size: 18px;
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 25px;
    }
  }

  .vip_money {
    top: 38px;
    left: 300px;
    width: 80px;
    height: 20px;
    border: 1px solid #ffd57b;
    @include border-radius(15px);

    &:after {
      position: absolute;
      top: 0px;
      left: -25px;
      content: "";
      @include images-sprite(icons/vip_money);
    }

    .value {
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 20px;
    }

    .add {
      position: absolute;
      top: -3px;
      right: -15px;
      @include images-sprite(ui/add);
      cursor: pointer;
    }
  }


  .basic_money {
    top: 38px;
    left: 130px;
    width: 120px;
    height: 20px;
    border: 1px solid #ffd57b;
    @include border-radius(15px);

    &:after {
      position: absolute;
      top: 0px;
      left: -25px;
      content: "";

      @include images-sprite(icons/basic_money)
    }

    .value {
      font-weight: bold;
      display: block;
      text-align: center;
      line-height: 20px;
    }
  }
}

#main_menu {
  position: absolute;
  top: 75px;
  left: 0px;
  width: 748px;
  text-align: center;

  .menu {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    margin: 0 8px;
    cursor: pointer;
    text-align: center;
    text-shadow: 1px 1px 2px #000;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 2px;
      left: -15px;
    }

    @each $menu_item in $menu {
      &.#{$menu_item} {
        &:before {
          @include images-sprite-background(icons/#{$menu_item});
        }
      }
    }

  }
}