.effects {
  .effect {
    position: relative;
    height: 20px;
    padding-left: 23px;
    margin-top: 5px;
    line-height: 20px;

    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;

      @include images-sprite-dimensions(icons/energy);
    }

    &.energy {
      &:before {
        @include images-sprite-background(icons/energy);
      }
    }

    &.health {
      &:before {
        @include images-sprite-background(icons/health);
      }
    }

    &.attack {
      &:before {
        @include images-sprite-background(icons/attack);
      }
    }

    &.defense {
      &:before {
        @include images-sprite-background(icons/defence); // FIXME defence on defense
      }
    }

    &.damage {
      &:before {
        @include images-sprite-background(icons/monsters);
      }
    }
  }
}