.wrapper {
  position: relative;
  margin: auto;
  width: 752px;
  height: 662px;
  background-color: #1b1311;
  border: 2px solid #807559;
  padding: 2px;
}

.wrapper_2 {
  position: relative;
  margin: auto;
  width: 748px;
  height: 658px;
  background-color: #150f0f;
  border: 2px solid #ece7d3;
}

.page_wrapper {
  position: absolute;
  top: 110px;
  left: 0;
  width: 748px;

  > .page {
    padding: 10px;
  }
}

#modals {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  .modal {
    position: relative;
    width: 600px;
    border: 1px solid #ca9943;
    @include border-radius(10px);
    background-color: #150f0f;
    margin: 120px auto 0 auto;

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;

      @include images-sprite(ui/close_icon);
    }

    .content {
      padding: 10px;

      .success {
        color: $game_color_green;
      }

      .failure {
        color: $game_color_red;
      }

      .text {
        margin: 10px 0;

        strong {
          font-weight: bold;
        }
      }

      .rewards_info {
        margin: 10px 0;

        .rewards, .spendings {
          display: inline-block;
          vertical-align: top;
          width: 130px;
        }
      }
    }
  }
}

#application {
  position: relative;

  .notification {
    z-index: 10000;
    position: absolute;
    top: 150px;
    left: 50%;
  }
}

.loading {
  background-image: image-url("spinner.gif");
  width: 48px;
  height: 48px;
  margin: auto;
}
