.requirements {
  .requirement {
    position: relative;
    height: 20px;
    padding-left: 22px;
    margin-top: 5px;
    line-height: 20px;

    &.unsatisfied {
      color: #ff3333;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      @include images-sprite-dimensions(icons/energy_yellow);
    }

    &.energy {
      &:before {
        background: {
          repeat: no-repeat;
        }

        @include images-sprite-background(icons/energy_yellow);
      }
    }
  }
}
