.wrapper {
  position: relative;
  margin: auto;
  width: 752px;
  height: 662px;
  background-color: #1b1311;
  border: 2px solid #807559;
  padding: 2px;
}

.wrapper_2 {
  position: relative;
  margin: auto;
  width: 748px;
  height: 658px;
  background-color: #150f0f;
  border: 2px solid #ece7d3;
}

.page_wrapper {
  position: absolute;
  top: 110px;
  left: 0;
  width: 748px;

  .page_block {
    padding: 10px;
  }
}

#popups {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  .popup {
    position: relative;
    width: 600px;
    border: 1px solid #ca9943;
    @include border-radius(10px);
    background-color: #150f0f;
    margin: 120px auto 0 auto;

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      background-image: url("/images/close_icon.png");
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .content {
      padding: 10px;
    }
  }
}

#application {
  position: relative;
}

.loading {
  background-image: url("/images/spinner.gif");
  width: 48px;
  height: 48px;
  margin: auto;
}
